@import url(https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap);
:root {
    --cor-principal: #1db954;
    --verde: #1db954;
    --cinza-dark: #121212;
    --cinza-light: #1e1e1e;
    --branco: white;
    --pading-pd: 1rem;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cinza-dark);
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body.tema-claro{
    --cinza-dark: #ffffff;
    --cinza-light: #dbd6d6;
    --branco: #000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--pading-pd);
}
.header {
    background-color: var(--cinza-light);
    border-bottom: 2px solid var(--cor-principal);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo span {
    color: var(--cor-principal);
    font-size: clamp(1.8rem, 4vw, 3rem)
}
.menu{
    display: flex;
    gap: 1rem;
}
.menu a {
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s;
}
.menu a:hover {
    color: var(--verde);
}
.pesquisa-section {
    margin: 2rem 0;
    position: sticky;
}
.pesquisa-conteudo {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.pesquisa-conteudo input {
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.pesquisa-button img {
    width: 18px;
    height: 18px;
}
.pesquisa-button {
    background-color: var(--verde);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.pesquisa-button:hover {
    transform: scale(1.1);
}
.footer {
    margin-top: auto;
    background-color: var(--cinza-light);
    text-align: center;
    padding: var(--pading-pd);
    border-top: 2px solid var(--verde);
    font-size: 0.8rem;
}
.filmesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.card {
    position: relative; 
    width: 200px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--cinza-dark);
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(18, 18, 18, 0.5);
    padding: 0.8rem;
    font-size: clamp(0.75rem, 1.5vw, 1.1rem);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
} 
.detalhesContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.detalhes-card{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.detalhes-card img {
    width: 40%;
    object-fit: cover;
    display: block;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #444;
  border-top: 5px solid green;
  border-radius: 50%;
  animation: girar 1s linear infinite;
}
@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fade-out {
    opacity: 0;
    transform: translateY(30px);
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 340px)
{
    .menu{
        flex-direction: column;
    }
    .detalhes-card{
        flex-direction: column;
    }
}